* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../Imagenes/img.jpg') no-repeat;
    font-family: sans-serif;
}

/*====================================== 
    Estilo para la barra de menu 
=======================================*/
.menu {
    width: 900px;
    margin: 0 auto;
}

.menu h1{
    float: left;
    padding: 5px;
    color: white;
}

header {
    background: #433082;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

nav {
    float: right;
}

nav ul li{
    list-style: none;
    margin-left: 75px;
    padding: 15px 0;
    float: left;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

nav ul li a::before{
    display: block;
    content: '';
    width: 0%;
    background: #b7328d;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before{
    width: 100%; 
}

/*==============================
    Estilo para la tabla 
================================*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: solid 2px rgba(255, 255, 255, .2);
}

.tabla {
    display: flex;
    justify-content: center;
}

table {
    color: #fff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background: rgba(243, 140, 210, .4);
}

th {
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: solid 2px rgba(255, 255, 255, .2);
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: rgba(243, 103, 199, .4);
}

/*===============================
    Estilo para los botones 
===============================*/
button {
    width: 200px;
    height: 45px;
    background: #fff;
    border: none;
    outline:  none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-size: 600;
}

button a :hover {
    background-color: #b7328d;
    box-shadow: 0 0 5px #b7328d, 0 0 25px #b7328d, 0 0 50px #b7328d, 0 0 100px #b7328d, 0 0 300px #b7328d;
    text-decoration: underline;
}

button a {
    color: #050505;
    text-decoration: none;
    font-weight: 600;
}

button a {
    cursor: pointer;
}
