* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#b7328d, #ac18c0);
}

.container {
    border: solid 2px rgba(255, 255, 255, .2);
}

table {
    color: #fff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background: rgba(243, 140, 210, .4);
}

th {
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: solid 2px rgba(255, 255, 255, .2);
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: rgba(243, 103, 199, .4);

}

button {
    width: 200px;
    height: 45px;
    background: #fff;
    border: none;
    outline:  none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-size: 600;
}

button a {
    color: #050505;
    text-decoration: none;
    font-weight: 600;
}

button a {
    cursor: pointer;
}

button a:hover {
    text-decoration: underline;
}